
.jumbotron {
    background: #bce4d3;
  }

  hr {
    border-color: inherit;
    margin: 1em 0;
  }
  .title {
    color: rgb(38, 16, 160);
  }
  #resultsModal img {
    overflow: hidden;
    width: 500px;
  }